form {
    display: flex;
    flex-direction: column;

    .contain-inputs {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
        border-radius: 10px;
    }

    input.login { 
        padding: 14px;
        border: none;
        border-bottom: 1px solid #e0e1e3;
        border-radius: 10px 10px 0px 0px;
    }
    
    input.pass {
        padding: 14px;
        border: none;
        border-bottom: 1px solid #e0e1e3;
        border-radius: 0px 0px 10px 10px;
    }
}